@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.character {
  display: grid;
  grid-template-columns: 1.1fr;
  grid-template-rows: 0.15fr 0.8fr 1fr 1.1fr;
  gap: 0px 0px;
  grid-template-areas:
    'title'
    'head'
    'body'
    'bottoms';
}

.character h1 {
  grid-area: title;
  font-family: 'Comfortaa', cursive;
  font-size: 50px;
  color: #5a3415;
  background-color: #e8ded5c6;
  border-radius: 55%;
  padding: 45px 25px 45px 25px;
}

.head {
  grid-area: head;
  max-height: 225px;
}

.body {
  grid-area: body;
  max-height: 400px;
}

.bottoms {
  grid-area: bottoms;
  max-height: 425px;
}
